[Desktop Entry]
Name=WinBox
Exec=/home/dkadmin/soft/winbox/WinBox.sh
Type=Application
Icon=/home/dkadmin/soft/winbox/assets/img/winbox.png
Terminal=false
Categories=Utility;
